/* general styling */
body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
}

/* header bar styling */
header {
    border-bottom: 1px solid black;
}

.header-content {
    display: grid;
    grid-template-columns: .5fr .5fr;
    max-width: 850px;
    margin: auto;
    align-items: center;
}

.logo {
    justify-self: left;
}

.header-content p {
    justify-self: end;
}

/* all content minus header */
.container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    position: relative;
}

nav {
    display: grid;
    grid-template-columns: .5fr 1.5fr;
}

/* about toggle styling */
.about {
    position: absolute;
}

.about p {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1000000;
    background: rgba(255, 255, 255, 0.9);
}

.hide {
    padding: 0px 20px;
    text-align: right;
}

.aboutPara {
    padding: 0px 20px 20px;
}

/* drop downs */
form {
    padding-bottom: 5px;
    text-align: right;
    font-size: 1em;
}

/* map styling */
#map {
    width: 100%;
    height: 600px;
}

/* remove map type drop down */
.NavBar_MapTypeButtonContainerWrapper {
    display: none;
}

/* info box on map */
.bayInfo {
    width: 300px;
    position: absolute;
    display: none;
}

.bayInfoList {
    margin: 0px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    z-index: 100000;
}

.bayInfo li {
    position: relative;
    z-index: 100000;
}

.togglePara {
    margin: 0;
    text-align: right;
}

.toggleInfo, .toggleBtn {
    text-decoration: none;
    border-radius: 50px;
    padding: 0 4px;
    border-radius: 50%;
    font-size: 1em;
    background-color: black;
    color: white;
}

/* information list at bottom of page */
.allBaysInfoListHeading {
    text-align: left;
    font-weight: bold;
    margin-top: 0;
    padding-top: 10px;
}

/* information list table styling */
table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid black;
    padding: 5px;
}

/* footer styling */

footer {
    border-top: 1px solid black;
    background-color: black;
    color: lightgrey;
    width: 100%;
}

footer p {
    padding: 10px 0px;
    max-width: 850px;
    margin: auto;
    font-size: small;
    text-align: center;
}