body {
    font-family: Arial, Helvetica, sans-serif;
}

.header-content {
    border-bottom: 1px solid black;
}

h1 {
    max-width: 850px;
    margin: auto;
    padding: 10px 0;
}

.container {
    max-width: 800px;
    margin: auto;
}

#myMap {
    width: 800px;
    height: 800px;
}

footer {
    border-top: 1px solid black;
}